<div class="container">
  <div class="row">
    <div class="col">
      <h3>
        <%= image_tag 'hitsuji.png', size: '80x80' %>
        予定の編集
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= form_with model: @event, url: event_path(@event.id), method: :patch do |f| %>
      <table>
        <tr>
          <td>今日の予定</td>
          <td><%= f.text_field :plan %></td>
        </tr>
        <tr>
          <td>日時</td>
          <td>
            <%= f.datetime_select :plan_datetime, {include_blank: true,start_year: (Time.now.year), end_year: (Time.now.year + 10), use_month_numbers: true, minute_step: 05}, {class: 'time-box'} %>
          </td>
        </tr>
        <tr>
          <td>終日フラグ</td>
        </tr>
        <tr>
          <td>色をつける</td>
          <td>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn" id="colorless">
                <%= f.radio_button :color_id, :colorless %>なし
              </label>
              <label class="btn" id="pink">
                <%= f.radio_button :color_id, :pink %>桃色
              </label>
              <label class="btn" id="red">
                <%= f.radio_button :color_id, :red %>赤色
              </label>
              <label class="btn" id="orange">
                <%= f.radio_button :color_id, :orange %>橙色
              </label>
              <label class="btn" id="yellow">
                <%= f.radio_button :color_id, :yellow %>黄色
              </label>
              <label class="btn" id="yellow_green">
                <%= f.radio_button :color_id, :yellow_green %>黄緑
              </label>
              <label class="btn" id="green">
                <%= f.radio_button :color_id, :green %>緑色
              </label>
              <label class="btn" id="light_blue">
                <%= f.radio_button :color_id, :light_blue %>水色
              </label>
              <label class="btn" id="blue">
                <%= f.radio_button :color_id, :blue %>青色
              </label>
              <label class="btn" id="purple">
                <%= f.radio_button :color_id, :purple %>紫色
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td>メモ</td>
          <td><%= f.text_area :memo %></td>
        </tr>
        <tr>
          <td>場所</td>
          <td><%= f.text_area :place %></td>
        </tr>
        <tr>
          <td>通知</td>
          <td><%= f.text_field :is_active%></td>
        </tr>
      </table>
      <div class="btn">
        <%= f.submit '保存' %>
      </div>
    <% end %>
    </div>
  </div>
</div>
