<h1>予定の一覧 カレンダー画面</h1>

<!--カレンダー表示-->
<div id='calendar'></div>

<h3>今日の予定</h3>
<% @events.each do |event| %>
<div>
  <%= link_to event.plan, event_path(event.id) %>

  <!--カレンダー画面にする場合、タイトルのみ表示-->
  <!--<h3>日時</h3>-->
  <!--<%= event.plan_datetime %>-->
  <!--<h3>終日フラグ</h3>-->

  <!--<h3>色をつける</h3>-->
  <!--<%= event.color_id %>-->

  <!--<h3>メモ</h3>-->
  <!--<%= event.memo %>-->

  <!--<h3>場所</h3>-->
  <!--<%= event.place %>-->

  <!--<h3>通知</h3>-->
  <!--<%= event.is_active %>-->
<% end %>
</div>