<div class="event">
  <div class="row">
    <div class="col title">
      <h3>
        <%= image_tag 'hitsuji.png', size: '80x80' %>
        予定の登録
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= image_tag "clip.png", class:"backimage" %>
      <%= form_with model: @event do |f| %>
      <table class="table-sm table-1" width="75%">
        <tr>
          <th>今日の予定</th>
          <td><%= f.text_field :plan, class: "plan form_width" %></td>
        </tr>
        <tr>
          <th>日時</th>
          <td>
            <%= f.datetime_select :plan_datetime, {include_blank: true,start_year: (Time.now.year), end_year: (Time.now.year + 10), use_month_numbers: true, minute_step: 05}, {class: 'time-box'} %>
          </td>
        </tr>
        <!--<tr>-->
        <!--  <th>終日フラグ</th>-->
        <!--</tr>-->
        <tr>
          <th>色をつける</th>
          <td>
            <div class="btn-group btn-group-toggle">
              <label class="maru" id="colorless">
                <%= f.radio_button :color_id, :colorless %>
              </label>
              <label class="maru" id="pink">
                <%= f.radio_button :color_id, :pink %>
              </label>
              <label class="maru" id="red">
                <%= f.radio_button :color_id, :red %>
              </label>
              <label class="maru" id="orange">
                <%= f.radio_button :color_id, :orange %>
              </label>
              <label class="maru" id="yellow">
                <%= f.radio_button :color_id, :yellow %>
              </label>
              <label class="maru" id="yellow_green">
                <%= f.radio_button :color_id, :yellow_green %>
              </label>
              <label class="maru" id="green">
                <%= f.radio_button :color_id, :green %>
              </label>
              <label class="maru" id="light_blue">
                <%= f.radio_button :color_id, :light_blue %>
              </label>
              <label class="maru" id="blue">
                <%= f.radio_button :color_id, :blue %>
              </label>
              <label class="maru" id="purple">
                <%= f.radio_button :color_id, :purple %>
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <th>メモ</th>
          <td><%= f.text_area :memo, class: "memo form_width" %></td>
        </tr>
        <tr>
          <th>場所</th>
          <td><%= f.text_area :place, class: "place form_width" %></td>
        </tr>
        <!--<tr>-->
        <!--  <th>通知</th>-->
        <!--  <td>-->
        <!--    <div class="btn-group btn-group-toggle">-->
        <!--      <label>-->
        <!--        <%= f.radio_button :is_active, :true %>ON-->
        <!--      </label>-->
        <!--      <label>-->
        <!--        <%= f.radio_button :is_active, :false %>OFF-->
        <!--      </label>-->
        <!--    </div>-->
        <!--  </td>-->
        <!--</tr>-->
      </table>
      <div class="edit-btn float-right">
        <%= f.submit '予定を登録', class: "btn btn-success" %>
      </div>
      <% end %>
    </div>
  </div>
</div>