<div class="event-show">
  <div class="row">
    <div class="col-2">
      <h4>
        <%= link_to events_path do %>
          <i class="fas fa-arrow-circle-left"></i>
        <% end %>
        <%= image_tag 'calendar.png', size: '50x50' %>
      </h4>
    </div>
    <div class="col-8 title">
      <h3>
        <%= image_tag 'hitsuji.png', size: '80x80' %>
        登録した予定
      </h3>
    </div>
    <div class="col-2">
      <sapn class="float-right">
        <%= link_to "日記", new_event_diary_path(@event.id), class: "btn btn-primary" %>
        <!--%= link_to "リスト", event_lists_path(@event.id), class: "btn btn-success" %>-->
      </sapn>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= image_tag "clip.png", class:"backimage" %>
      <table class="table-sm table-1" width="75%">
        <tr>
          <th></th>
          <td align="right">
            <%= link_to "編集", edit_event_path(@event.id), class: "btn btn-outline-primary" %>
            <%= link_to "削除", event_path, method: :delete, "data-confirm" => "この予定に対しての日記やリストも削除されます。\n削除してよろしいですか？", class: "btn btn-outline-danger" %>
          </td>
        </tr>
        <tr>
          <th>今日の予定</th>
          <% case @event.color_id %>
            <% when 'colorless' then %>
              <td id="<%= @color_id %>"><%= @event.plan %></td>
            <% when 'pink' then %>
              <td id="<%= @color_id %>"><%= @event.plan %></td>
            <% when 'red' then %>
              <td id="<%= @color_id %>"><%= @event.plan %></td>
            <% when 'orange' then %>
              <td id="<%= @color_id %>"><%= @event.plan %></td>
            <% when 'yellow' then %>
              <td id="<%= @color_id %>"><%= @event.plan %></td>
            <% when 'yellow_green' then %>
              <td id="<%= @color_id %>"><%= @event.plan %></td>
            <% when 'green' then %>
              <td id="<%= @color_id %>"><%= @event.plan %></td>
            <% when 'light_blue' then %>
              <td id="<%= @color_id %>"><%= @event.plan %></td>
            <% when 'blue' then %>
              <td id="<%= @color_id %>"><%= @event.plan %></td>
            <% when 'purple' then %>
              <td id="<%= @color_id %>"><%= @event.plan %></td>
          <% end %>
        </tr>
        <tr>
          <th>日時</th>
          <td>
            <%= @event.plan_datetime.to_date %>
            <%= @event.plan_datetime.strftime( "%H:%M" ) %>
          </td>
        </tr>
        <tr>
          <th>メモ</th>
          <td><%= @event.memo %></td>
        </tr>
        <tr>
          <th>場所</th>
          <td><%= @event.place %></td>
        </tr>
      </table>
    </div>
  </div>
</div>