<div class="event-show">
  <div class="row">
    <div class="col-2">
      <h4>
        <%= link_to events_path do %>
          <i class="fas fa-arrow-circle-left"></i>
          <%= image_tag 'calendar-icon1.png', size: '50x50' %>
        <% end %>
      </h4>
    </div>
    <div class="col-8 title">
      <h3>
        <%= image_tag 'hitsuji.png', size: '80x80' %>
        登録した予定
      </h3>
    </div>
    <div class="col-2">
      <sapn class="float-right">
        <%= link_to "日記", new_event_diary_path(@event.id), class: "btn btn-primary" %>
        <!--%= link_to "リスト", event_lists_path(@event.id), class: "btn btn-success" %>-->
      </sapn>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= image_tag "clip.png", class:"backimage" %>
      <table class="table-sm table-1" width="75%">
        <tr>
          <th></th>
          <td align="right">
            <%= link_to edit_event_path(@event.id), class: "btn btn-outline-primary" do %>
              <i class="fas fa-pen"></i> 編集
            <% end %>
            <%= link_to event_path, method: :delete, "data-confirm" => "この予定に対しての日記やリストも削除されます。\n削除してよろしいですか？", class: "btn btn-outline-danger" do %>
              <i class="fas fa-trash"></i> 削除
            <% end %>
          </td>
        </tr>
        <tr>
          <th>今日の予定</th>
          <td class="<%= @color_id %>">
            <%= @event.plan %>
          </td>
          <% case @event.color_id %>
            <% when 'colorless' then %>
              <%= image_tag 'flower/colorless.png', class: "flower-image" %>
            <% when 'pink' then %>
              <%= image_tag 'flower/pink.png', class: "flower-image" %>
            <% when 'red' then %>
              <%= image_tag 'flower/red.png', class: "flower-image" %>
            <% when 'orange' then %>
              <%= image_tag 'flower/orange.png', class: "flower-image" %>
            <% when 'yellow' then %>
              <%= image_tag 'flower/yellow.png', class: "flower-image" %>
            <% when 'yellow_green' then %>
              <%= image_tag 'flower/yellow_green.png', class: "flower-image" %>
            <% when 'green' then %>
              <%= image_tag 'flower/green.png', class: "flower-image" %>
            <% when 'light_blue' then %>
              <%= image_tag 'flower/light_blue.png', class: "flower-image" %>
            <% when 'blue' then %>
              <%= image_tag 'flower/blue.png', class: "flower-image" %>
            <% when 'purple' then %>
              <%= image_tag 'flower/purple.png', class: "flower-image" %>
          <% end %>
        </tr>
        <tr>
          <th>日時</th>
          <td class="<%= @color_id %>">
            <%= @event.plan_datetime.to_date %>
            <%= @event.plan_datetime.strftime( "%H:%M" ) %>
          </td>
        </tr>
        <tr>
          <th>メモ</th>
          <td class="<%= @color_id %>">
            <%= @event.memo %>
          </td>
        </tr>
        <tr>
          <th>場所</th>
          <td class="<%= @color_id %>">
            <%= @event.place %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>