<!--日記一覧-->
<div class="col-lg-6">
  <div class="diary-show">
    <% if event.diaries.present? %>
      <% event.diaries.each do |diary| %>
      <div class="row">
        <div class="col-1">
          <%= image_tag "hane.png", class:"hane" %>
        </div>
        <div class="col-8 simple-diary2">
          <%= diary.simple_diary %>
        </div>
        <!--日記の編集-->
        <div class="col-1 simple-diary2">
          <%= link_to edit_event_diary_path(diary.event_id,diary.id) do %>
            <i class="fas fa-pen"></i>
          <% end %>
        </div>
        <!--日記の削除-->
        <div class="col-1 simple-diary2">
          <%= link_to event_diary_path(diary.event, diary), method: :delete, "data-confirm" => "削除しますか？" do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      </div>
      <div class="row">
        <%= image_tag "blue.line2.png", class:"line1" %>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-8 detail">
          <%= diary.detail %>
          <!--%= diary.image_id %>-->
        </div>
        <div class="col-3">
          <!--AI機能 感情分析-->
          <% if diary.score.to_f < -0.3 %>
            <p class="text-secondary">♥
              <span class="mental">
                <%= image_tag "emotion/sad.png", class:"emotion" %>
                <span class="mental-score">気分の点数<%= diary.score.to_f %></span>
              </span>
            </p>
          <% elsif diary.score.to_f.between?(-0.3, 0.3) %>
            <p class="text-success">♥
              <span class="mental">
                <%= image_tag "emotion/nomal.png", class:"emotion" %>
                <span class="mental-score">気分の点数<%= diary.score.to_f %></span>
              </span>
            </p>
          <% else diary.score.to_f > 0.3 %>
            <p class="text-danger">♥
              <span class="mental">
                <%= image_tag "emotion/happy.png", class:"emotion" %>
                <span class="mental-score">気分の点数<%= diary.score.to_f %></span>
              </span>
            </p>
          <% end %>
        </div>
          <%= image_tag "eda1.png", class:"line2" %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>