<div class="row">
  <div class="col title">
    <h3>
      <span>
        <%= link_to event_path(@event.id) do %>
          <i class="fas fa-arrow-circle-left"></i>
        <% end %>
      </span>
      <span>
        <%= @event.plan_datetime.to_date %>
      </span>
    </h3>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <%= image_tag "book4.png", class:"diaryimage" %>
    <!--日記投稿-->
    <div class="new-diary">
      <%= form_with model: [@event, @diary] do |f| %>
        <%= f.text_field :simple_diary, placeholder: "ひとこと日記", class: "diary-width" %><br>
        <%= f.text_area :detail, class: "diary-width diary-detail" %><br>
        <!--%= image_tag @diary.get_image(100,100) %>-->
        <div class="diary-btn", align="right">
          <%= f.submit "保存", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>

  <!--日記一覧-->
  <%= render 'show', event: @event %>
</div>