<div class="row">
  <div class="col title">
    <h3>
      <span>
        <%= link_to event_path(@event.id) do %>
          <i class="fas fa-arrow-circle-left"></i>
        <% end %>
      </span>
      <span>
        <%= @event.plan_datetime.to_date %>
      </span>
    </h3>
  </div>
</div>

<div class="row">
  <%= image_tag "book4.png", class:"diaryimage" %>
  <!--日記投稿-->
  <div class="new-diary">
    <%= form_with model: [@event, @diary] do |f| %>
      <%= f.text_field :simple_diary, placeholder: "ひとこと日記", class: "simple-diary" %><br>
      <%= f.text_area :detail, class: "diary-detail" %><br>
      <!--%= image_tag @diary.get_image(100,100) %>-->
      <div class="diary-btn", align="right">
        <%= f.submit "保存", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>

  <!--日記一覧-->
  <div class="diary-show">
    <% if @event.diaries.present? %>
      <% @event.diaries.each do |diary| %>
      <div class="row">
        <div class="col-md-1">
            <%= image_tag "hane.png", class:"hane" %>
            <%= image_tag "blue.line2.png", class:"line1" %>
        </div>
        <div class="col-md-8 simple-diary2">
          <%= diary.simple_diary %>
        </div>
        <!--日記の編集-->
        <div class="col-md-1 simple-diary2">
          <%= link_to edit_event_diary_path(diary.event_id,diary.id) do %>
            <i class="fas fa-pen"></i>
          <% end %>
        </div>
        <!--日記の削除-->
        <div class="col-md-1 simple-diary2">
          <%= link_to event_diary_path(diary.event, diary), method: :delete, "data-confirm" => "削除しますか？" do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-9 detail">
          <%= diary.detail %>
          <!--%= diary.image_id %>-->
        </div>
          <%= image_tag "eda1.png", class:"line2" %>
      </div>
      <% end %>
    <% end %>
  </div>