<!--日記表示-->
<!--<div>-->
<!--  <h3>日記</h3>-->

  <!--日記一覧-->
<!--  <% @event.diaries.each do |diary| %>-->
<!--    <p><%= @event.plan_datetime %></p>-->
<!--    <%= diary.simple_diary %>-->
<!--    <%= diary.detail %>-->
    <!--%= diary.image_id %>-->
<!--    <%= link_to "削除", event_diary_path(diary.event, diary), method: :delete %>-->
<!--  <% end %>-->

<!--  <%= image_tag "diary2.png", class:"diaryimage" %>-->
  <!--日記投稿-->
<!--  <div class="new-diary">-->
<!--    <%= @event.plan_datetime.to_date %>-->
<!--    <%= form_with model: [@event, @diary] do |f| %>-->
<!--      <%= f.text_field :simple_diary, placeholder: "今日を一言で", class: "simple-diary" %><br>-->
<!--      <%= f.text_area :detail %><br>-->
      <!--%= image_tag @diary.get_image(100,100) %>-->
<!--      <%= f.submit "保存" %>-->
<!--    <% end %>-->
<!--  </div>-->
<!--</div>-->