<div class="row justify-content-center">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h3 class="sessions-title">
      管理者画面
      <%= image_tag 'tanpopo.png', size: '50x50' %>
    </h3>

    <h4>会員一覧</h4>
    <table class="table admin-table">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>ニックネーム</th>
          <th>氏名</th>
          <th>フリガナ</th>
          <th>メールアドレス</th>
          <th style="text-align-center">会員<br>ステータス</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="text-center"><%= user.id %></td>
          <td><%= user.nickname %></td>
          <td><%= user.last_name %>　<%= user.first_name %></td>
          <td><%= user.last_name_kana %>　<%= user.first_name_kana %></td>
          <td><%= user.email %></td>
          <td class="text-center">
            <% if user.is_deleted == false %>
              <span class="text-primary"><b>有効</b></span>
            <% else %>
              <span class="text-danger"><b>退会</b></span>
            <% end %>
          </td>
          <td>
            <%= link_to "ステータスを変更する", admin_users_withdraw_path(user.id), method: :patch, "data-confirm" => "退会へ変更する場合、会員が登録した予定等が削除されます。\n本当に会員ステータスを変更しますか？", class:"btn btn-outline-secondary status-btn" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>