<div class="row justify-content-center">
  <div class="col-sm-12 col-md-8 col-lg-7">
    <h3 class="sessions-title">ログイン</h3>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
    <table class="sessions">
      <tr>
        <div class="field">
          <th>
            <%= f.label :"ニックネーム" %>
          </th>
          <td>
            <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "表示名", class:"sessions-form", required: true %>
          </td>
        </div>
      </tr>

      <tr>
        <div class="field">
          <th>
            <%= f.label :"メールアドレス" %>
          </th>
          <td>
            <%= f.email_field :email, autocomplete: "email", placeholder: "e-address@sample.jp", class:"sessions-form", required: true %>
          </td>
        </div>
      </tr>

      <tr>
        <div class="field">
          <th>
            <%= f.label :"パスワード" %>
          </th>
          <td>
            <%= f.password_field :password, autocomplete: "current-password", class:"sessions-form", required: true %>
          </td>
        </div>
      </tr>

      <tr>
        <th></th>
        <td>
          <button type="submit", class="btn btn-success">
            <i class="fas fa-sign-in-alt"></i> ログイン
          </button>
        </td>
      </tr>
    </table>
    <% end %>

    <div class="log-in float-right">
      <p>初めて利用される方は
        <%= render "public/shared/links" %>
      </p>
    </div>
  </div>
</div>