<div class="row">
  <div class="col title">
    <h3>
      <%= image_tag 'hitsuji_sensu.png', size: '80x80' %>
      登録情報
    </h3>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-sm-12 col-md-8 col-lg-7">
    <table class="sessions">
      <tr>
        <th>氏名</th>
        <td class="user-td">
          <%= @user.last_name %>
          <%= @user.first_name %>
        </td>
      </tr>
      <tr>
        <th>フリガナ</th>
        <td class="user-td">
          <%= @user.last_name_kana %>
          <%= @user.first_name_kana %>
        </td>
      </tr>
      <tr>
        <th>ニックネーム</th>
        <td class="user-td">
          <%= @user.nickname %>
        </td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td class="user-td">
          <%= @user.email %>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row justify-content-center">
  <div class="float-right users-edit">
    <%= link_to users_information_edit_path, class:"btn btn-success users-edit-btn" do %>
      <i class="fas fa-user-edit"></i> 編集
    <% end %>
  </div>
  <div class="users-edit">
    <%= link_to users_unsubscribe_path, class:"btn btn-danger users-edit-btn" do %>
      <i class="fas fa-user-slash"></i> 退会
    <% end %>
  </div>
</div>