<h1>登録情報</h1>

<%= @user.last_name %>
<%= @user.first_name %>
<%= @user.last_name_kana %>
<%= @user.first_name_kana %>
<%= @user.nickname %>
<%= @user.email %>

<p><%= link_to "編集", users_information_edit_path %></p>
<p><%= link_to "退会", users_unsubscribe_path %></p>
