<!DOCTYPE html>
<html>
  <head>
    <title>ほのぼのスケジュール日誌</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><%= image_tag('Schedul Diary.png', :size => '60x60') %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "予定登録", new_event_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "カレンダー", events_path, class: 'nav-link text-dark' %>
              </li>
              <!--<li class="nav-item">-->
              <!--  <%= link_to "予定一覧", events_path, class: 'nav-link text-dark' %>-->
              <!--</li>-->
              <li class="nav-item">
                <%= link_to "会員情報の確認", users_my_page_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
              </li>
            <% elsif admin_signed_in? %>
              <li class="nav-item">
                <%= link_to "会員一覧", admin_root_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "予定登録", new_event_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "カレンダー", events_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
              </li>
              <!--<li class="nav-item">-->
              <!--  %= link_to "ゲストログイン", users_guest_sign_in_path, method: :post %>-->
              <!--</li>-->
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="mb-auto">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 px-auto py-4">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer pt-3 pb-2">
      <div class="container">
        <div class="row">
          <div class="col">
            <p class="text-center">今日もいい日でありますように。<br>
            <span>Ordinary days may be boring, but they are very important times.</span></p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
