<!DOCTYPE html>
<html>
  <head>
    <title>ほのぼのスケジュール日誌</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/">
            <%= image_tag('Schedul Diary.png', :size => '60x60') %>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <!--ゲストユーザーのヘッダー-->
            <% if user_signed_in? && current_user.email == 'guest@sample.com' %>
              <li class="nav-item text-right">
                <%= link_to "予定登録", new_event_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item text-right">
                <%= link_to "カレンダー", events_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item text-right">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
              </li>
            <!--ゲストユーザー以外のログイン後のヘッダー-->
            <% elsif user_signed_in? %>
              <li class="nav-item text-right">
                <%= link_to "予定登録", new_event_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item text-right">
                <%= link_to "カレンダー", events_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item text-right">
                <%= link_to "会員情報の確認", users_my_page_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item text-right">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
              </li>
            <!--管理者側のヘッダー-->
            <% elsif admin_signed_in? %>
              <li class="nav-item text-right">
                <%= link_to "会員一覧", admin_root_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item text-right">
                <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
              </li>
            <!--ログイン前のヘッダー-->
            <% else %>
              <li class="nav-item text-right">
                <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item text-right">
                <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item text-right">
                <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'nav-link text-dark' %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="mb-auto">
      <div class="container">
        <div class="row">
          <div class="col align-self-center py-4">
            <!--エラーメッセージなどの表示-->
            <!--ハッシュならeachで取り出し、ハッシュ以外は通常に表示-->
            <% if flash[:message].class == Array %>
              <% flash[:message].each do |flash| %>
                <div>
                  <%= flash %>
                </div>
              <% end %>
            <% else %>
              <div class="flash">
                <%= flash[:message] %>
              </div>
            <% end %>

            <%= yield %>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer pt-3">
      <%= image_tag "green1.png", class: "footer-image" %>
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="text-center">今日もいい日でありますように<br>
              <span>Ordinary days may be boring, but they are very important times.</span>
              <!--管理者画面へ遷移-->
              <%= link_to new_admin_session_path do %>
                <%= image_tag('tanpopo.png', class: "admin-flower") %>
              <% end %>
            </h2>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
